$primary-color: #f7905f;
$secondary-color: #4183d7;
$white-color: #fff;

$lightestgrey-color: #fafafa;
$lightgrey-color: #f0f3f5;
$grey-color: #333333;
$darkgrey-color: #252526;
$darkestgrey-color: #1e1e1e;
