:root {
  --btn-font-size: 1em;
  --btn-sm: calc(var(--btn-font-size) - 0.2em);
  --btn-md: calc(var(--btn-font-size) + 0.2em);
  --btn-lg: calc(var(--btn-font-size) + 0.4em);
  --btn-xl: calc(var(--btn-font-size) * 2);
}

// general rules for the buttons
.a-button {
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  line-height: 1;
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--btn-font-size);
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

// rule for the disabled button
.a-button:disabled {
  background-color: $lightgrey-color;
  color: $white-color;
  cursor: not-allowed;
  &:hover {
    background-color: lighten($lightgrey-color, 2%);
  }
}

// space between buttons
.a-button + .a-button {
  margin-left: var(--space-xs);
}

// button colors
.a-button--primary {
  background-color: $primary-color;
  color: $white-color;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.a-button--secondary {
  background-color: $secondary-color;
  color: $white-color;
  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}

.a-button--subtle {
  background-color: $lightgrey-color;
  color: $grey-color;
  &:hover {
    background-color: darken($lightgrey-color, 10%);
  }
}

.a-button--light {
  background-color: $white-color;
  color: lighten($grey-color, 30%);
  &:hover {
    background-color: darken($white-color, 10%);
  }
}

//rounded button for navigation arrow button
.a-button--direction {
  border-radius: 50%;
  width: var(--space-lg);
  height: var(--space-lg);
  margin: var(--space-xs);
}

.a-button--direction + .a-button--direction {
  margin-left: 0;
}

// sizes of button
.a-button--sm {
  font-size: var(--btn-sm);
}

.a-button--md {
  font-size: var(--btn-md);
}

.a-button--lg {
  font-size: var(--btn-lg);
}

.a-button--xl {
  font-size: var(--btn-xl);
}

.a-button--full-width {
  display: flex;
  width: 100%;
}

//shadow
.a-button--shadow {
  box-shadow: var(--shadow-sm);
}
