.o-menu {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--space-xl);
  background-color: $white-color;
  box-shadow: var(--shadow-sm);

  ul {
    display: flex;
    justify-content: flex-end;
    height: var(--space-xl);
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  &__element {
    &:hover {
      background-color: $lightestgrey-color;
    }
    a {
      transition: all 0.3s ease;
      height: 100%;
      display: block;
      padding: var(--space-xs) var(--space-md);
      color: $primary-color;
      font-size: var(--text-base-size);
      border-bottom: 5px solid lighten($primary-color, 20%);
      i {
        padding: 0.75em var(--space-xs);
      }
    }
  }

  &__element--logo {
    position: absolute;
    left: 0;
    height: 100%;
    font-size: var(--font-base-size);
    text-align: center;
    background-color: $primary-color;
    &:hover {
      background-color: lighten($primary-color, 5%);
    }
    a {
      padding-top: var(--space-md);
      border: none;
      color: $white-color;
    }
  }

  &__element a.o-menu__element--selected {
    background-color: $lightgrey-color;
    border-bottom: solid 5px $primary-color;
  }

  @include mq('md') {
    display: block;
    position: relative;
    width: 25%;

    ul {
      display: block;
    }

    &__element {
      height: calc(var(--space-lg) * 2);
      display: block;
      a {
        border-left: solid 5px lighten($primary-color, 20%);
        border-bottom: none;
        display: block;
        padding: var(--space-md);
        i {
          padding-right: var(--space-md);
        }
        &:hover {
          border-left: solid 5px lighten($primary-color, 10%);
        }
      }
    }

    &__element--logo {
      position: relative;
      a {
        border: none;
      }
      &:hover {
        background-color: lighten($primary-color, 10%);
      }
    }

    &__element a.o-menu__element--selected {
      border-left: solid 5px $primary-color;
      border-bottom: none;
      background-color: $lightgrey-color;
    }
  }

  @include mq('sm', 'max') {
    &__element {
      span {
        display: none;
      }
    }
  }
}
