.o-main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: calc(var(--space-md) * 3);
  background-color: $lightestgrey-color;

  @include mq('md') {
    max-width: 75%;
    padding-top: 0;
  }
}
